<div class="container" style="padding-top: 30px;padding-bottom: 100px;">
	<div class="row" style="">
		<div class="span4" style="text-align: center;padding-bottom: 30px;">
			<%=image_tag 'https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/130-128.png'%>
			<h2>Mudanças</h2>
			<p>Efectuamos todo o tipo de mudanças ao nível B2B e B2C. Trabalhamos com elevados patamares de profissionalismo, prontidão e dedicação.<br>
			Atuamos na zona da Grande Lisboa mas também em <u>todo território nacional e internacional</u>. Todo o nosso trabalho tem como premissa básica o cumprimento rigoroso dos horários.<br>
		</div>
		<div class="span4" style="text-align: center;padding-bottom: 30px;">
			<h2>Facility Services</h2>
			<p>Tendo como core business a prestação de serviços de recepção, portaria e zelação, o Grupo SF desenvolve a sua actividade com base nas necessidades específicas de cada cliente.<br>
			Para alcançarmos este objectivo de modo a dar resposta às exigências actuais é essencial uma integração na cultura de cada cliente, respondendo de forma segura e objectiva aos requisitos da missão.<br>
			<!--<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" class="btn btn-primary">saber mais</a>-->
		</div>
		<div class="span4" style="text-align: center;padding-bottom: 30px;">
			<%=image_tag 'https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/128-128.png'%>
			<h2>Limpezas</h2>
			<p>Efetuamos vários tipos de limpezas:<br>
			Escritórios<br>
			Casas particulares<br>
			Ocasionais e Periódicas<br></p>
			<!--<a href="#footer" class="btn btn-primary disabled">Contacte-nos!</a>-->
		</div>
	</div>
	
	<div id='content'>
	<div id="about" class=" collapse">
		<hr class="featurette-divider">
		<div class="row" >
    		<%=render 'static_pages/about'%>
   		</div>
	</div>
	<div id="service" class=" collapse">
		<hr class="featurette-divider">
		<div class="row">
			<%=render 'static_pages/service'%>
		</div>
	</div>
	<div id="contact" class=" collapse">
		<hr class="featurette-divider">
		<div class="row" >
			<div class="span12">
				<h3>Contactos</h3>
   				<%=render 'static_pages/address'%>
			</div>
		</div>
	</div>	
	
	<a id="roll4" href="#" class="pull-right">&uarr; Topo</a>
	</div>

	<script>
	$('#roll4').click(function() {
			$('body,html').animate({
          scrollTop: 0
        }, 1000);
	});
  	</script>
	<!--
	<hr class="featurette-divider">
	
	<div class="row" id="about">
		<div class="span12">
			<h3>Sobre nós</h3>
			<%=image_tag 'logo.jpg', align: 'right', class: 'img-polaroid'%>
			<p>O Grupo SF Mudanças está sediado em Lisboa actuando em toda a zona da Grande Lisboa e de uma forma geral executa serviços de mudanças para todo o território nacional continental.</p>
			<p>Para além da componente das mudanças, prestamos um conjunto de serviços tipicamente designados por Facility Services, ao nível da Gestão e Administração, na vertente de Condomínios, mas também ao nível de Centros de Escritórios e Centros Empresariais.</p>
			<p>O nosso conceito passa por prestar um conjunto de serviços alargado no sentido de satisfazer o maior número de necessidades específicas das empresas ou dos particulares.</p>
			<p>Poderá confiar o processo de mudança completo, a administração do seu condomínio, da sua propriedade, da sua quinta no Alentejo ou noutra parte do país, e ainda todos os serviços ao nível empresarial, tais como portaria, gestão do parque empresarial, centros de escritórios etc.</p>
			<p>Tudo o que precisar poderá confiar no nosso Grupo!</p>
			<p>O desempenho das nossas funções é transversal a muitos sectores de actividade consituindo uma mais-valia à nossa capacidade de prestação de serviço geral, permitindo-nos aplicar essa experiência e os conhecimentos obtidos nos outros clientes, permitindo antecipar ações e agir na prevenção.</p>
		</div>
		<div class="span4">
			
		</div>
	</div>
	-->
</div>